<?xml version="1.0" encoding="UTF-8"?>
    <Configuration>
      <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
          <PatternLayout pattern="%-5p %d{HH:mm:ss,SSS} [%t] %c{1} - %m%n"/>
        </Console>
        <File name="FILE" fileName="/tmp/game-of-life.log" append="false">
          <PatternLayout pattern="%t %-5p %c{2} - %m%n"/>
        </File>
      </Appenders>
      
      <Loggers>
        <Root level="info">
          <AppenderRef ref="STDOUT"/>
          <AppenderRef ref="FILE"/>
        </Root>
      </Loggers>
    </Configuration>