<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>GameOfLife</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.giorgiosironi.gameoflife.WebApplicationResourceConfig</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameOfLife</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>