<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <filter>
        <filter-name>GameOfLife</filter-name>
        <filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.giorgiosironi.gameoflife.WebApplicationResourceConfig</param-value>
        </init-param>
        <!-- the next filter (default servlet) serves static content -->
        <init-param>
            <param-name>jersey.config.servlet.filter.forwardOn404</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>GameOfLife</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>